* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.es-ejemplo {
    background-color: rgb(221, 159, 65);
    padding: 16px;
    font-size: 10px;
}

.es-ejemplo p {
    font-size: 1.2em;
}

{}

{}

{}

{}

{}

{}